.Select {
  display: flex;
  align-items: baseline;

  &--dropdown {
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 0.2rem;
    color: #373737d3;
  }

  &--label {
    margin-right: 12px;
  }

  //Sizes
  .default {
    width: 75px;
  }

  .s {
    width: 35px;
  }

  .l {
    width: 100px;
  }
}
